#Area Calculator that calculates area of a given object
from math import pi
from time import sleep
from datetime import datetime

print datetime.now()
now = datetime.now()
print "Calculator starting up!"

#Prints date in MM/DD/YYYY and time in HH:MM
print "Current time: %s/%s/%s %s:%s" % (now.month, now.day, now.year, now.hour, now.minute)

#Pauses for 1 second, stores txt in hint
sleep(1)
hint = "Don't forget to include the correct units! \nExiting..."

#Askes for type of object, stores in option uppercase
option = raw_input("Enter C for Circle or T for Triangle: ")
option = option.upper()

#User selected circle stores as float numb, calcs pi
if option == 'C':  
  radius = float(raw_input("Enter radius: "))
  area = pi * radius**2
  print "The pie is baking..."
  sleep(1)
  print ("Area: %.2f. \n%s" % (area, hint))
  
#user enters T as option
elif option == 'T':
  base = (float(raw_input("Enter base: "))) 
  height = float(raw_input("Enter height: " ))
  area = (0.5)*base*height
  print "Uni Bi Tri..."
  sleep(1)
  print ("Area: %.2f. \n%s" % (area, hint))  

#User enters garbage
else: 
	print "Error! Invalid shape selector specified. Exiting"
  
